div {
    text-shadow: 0 0 0 transparent;
}

span {
    white-space: pre-line;
    text-shadow: 0 0 0 transparent;
}

.cols { 
    columns: 2;
}

.green {
    color: #66ff33
}

.red {
    color: #ff0066
}

.blue {
    color: #00ffff
}   

.yellow {
    color: yellow
}

.textshadow { 
    color: transparent;
    text-shadow: 0 0 1em white;
}